.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px;
  align-items: center;
}

h1 {
  text-align: start;
  font-size: 51px;
  grid-column-start: 1;
  grid-column-end: 3;
  text-shadow: -4px -2px #2e393f;
}

.home-link, .favorite-movies-link {
  color: white;
  text-decoration: none;
  font-size: 26px;
}

.home-link:hover, .favorite-movies-link:hover {
  transform: scale(1.1);
  color: #f1613a;
}