.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px;
  align-items: center;
}

h1 {
  text-align: start;
  font-size: 51px;
  grid-column-start: 1;
  grid-column-end: 3;
  text-shadow: -4px -2px #2e393f;
}

.clapper {
  grid-column-start: 4;
  grid-column-end: 4;
  height: 100px;
  width: 100px;
  justify-self: center;
}

input {
  height: 30px;
  width: 60%;
  justify-self: right;
}