.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  align-items: center;
}

h1 {
  text-align: start;
  font-size: 51px;
}

input {
  height: 30px;
  width: 60%;
  justify-self: right;
}