.movie-container {
  --auto-grid-min-size: 16rem;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}


.no-favorites-p {
  justify-self: center;
  grid-column-start: 2;
  grid-column-end: 5;
  font-size: xx-large;
  font-weight: 200;
  font-weight: bold;
}