.movie-details {
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-size: 40px;
  color: #ffffff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  justify-items: center;
}

.movie-details-window {
  background-image: linear-gradient(180deg, #1d2a30, #1d2326);
  height: 90%;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-radius: 1%;
}

.movie-details-backdrop-img {
  width: 65%;
  justify-self: center;
  grid-column-start: 1;
  grid-column-end: 3;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0px 0px 20px 2px #000000;
  border-radius: 2%;
}

.movie-details-poster {
  width: 25vh;
  height: auto;
  align-self: center;
  justify-self: center;
}

h3 {
  text-align: start;
  text-shadow: -4px -2px black;
}

.movie-details-p {
  font-size: 16px;
  text-align: start;
}

.movie-content {
  width: 100%;
}