.movieCard {
  /* border: 3px solid white; */
  padding: 10px;
}


.movieCardPoster {
  width: 20vh;
}

.movieCardBackDrop {
  width: 20vh;
}

h2 {
  font-family: Neusa,Impact,Helvetica Neue,Arial,Sans-Serif;
}

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

