.movie-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  background-color: #607d8b;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}
