.movieCard {
  border: 3px solid white;
  border-radius: 2%;
  padding: 10px;
}

.movieCard:hover {
  transform: scale(1.1);
}

.movieCardPoster {
  width: 20vh;
}

.movieCardBackDrop {
  width: 20vh;
}

h2 {
  font-family: Neusa,Impact,Helvetica Neue,Arial,Sans-Serif;
}

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

