.movie-card {
  background-image: linear-gradient(180deg, #1d2a30, #1d2326);
  border-radius: 10px;
  padding-bottom: 30px;
  border: 1px solid black;
}

.movie-card:hover {
  transform: scale(1.1);
}

.movie-card-poster {
  width: 20vh;
  border-radius: 10px;
}

.movieCardBackDrop {
  width: 20vh;
}

h2 {
  font-family: Neusa,Impact,Helvetica Neue,Arial,Sans-Serif;
  text-shadow: -2px -2px black;
}

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.favorite-button, .unfavorite-button {
  height: 40px;
  width: 40px;
}

.favorite-button, .unfavorite-button:hover {
  transform: scale(1.25);
}



.star-container {
  display: flex;
  justify-content: flex-end;
}