* {
  box-sizing: border-box;
  margin: 0px;
}
.App {
  text-align: center;
  background-color: #607d8b;
  color:white;
  font-family: Russo One;
}

.error-display {
  font-size: 32px;
  text-align: center;
}

.dog-gif {
  padding-top: 40px;
}




